@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;800&family=Montserrat:wght@100;300;400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

header {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: JetBrains Mono, monospace;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 0px 0px 0px 30px;
}

.header .header--left {
    margin-right: 60px;
}

.header .header--right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header--right ul {
    display: flex;
}

.header .header--right li {
    list-style-type: none;
}

.header .header--right a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(44, 42, 42);
    margin-right: 27px;
}

.header .header--right a:hover {
    border-bottom: 2px solid slateblue;
    padding-bottom: 10px;
}

.quero_ser_programador {
    height: 100px;
    width: 310px;
    max-width: 430px;
    margin-left: auto;
    background-color: blue;
    color: #fff;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.quero_ser_programador:hover {
    background-color: rgb(38, 38, 236);
}

.quero_ser_programador a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 24px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.quero_ser_programador svg {
    margin-left: 10px;
}

.menu_mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_mobile div {
    border-radius: 10px;
    height: 5px;
    width: 50px;
    background-color: blue;
    margin: 3px;
}

.header .header--left img {
    height: 35px;
    width: 140px;
}

main {
    margin-top: 100px;
}

section {
    padding: 0px 70px;
}

.section_initial {
    height: 600px;
    background-image: url("https://kenzie.com.br/images/hero-curriculo-dkt.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;    
    padding-top: 70px;
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 70px;
}

.section_initial .section_text {
    background-color: rgba(20,30,40, 0.5);
    height: 460px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #FFF;
}

.section_initial .section_text h1 {
    width: 430px;
    font-size: 40px;
}

.section_initial .section_text p {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.section_initial .section_text a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 20px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    background-color: blue;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 30px;
}

.section_initial .section_text a:hover {
    transform: scale(1.02);
}

.section_initial .section_text svg {
    margin-left: 20px;
}

.section_observation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 80px;
    max-width: 1000px;
}

.section_observation p {
    line-height: 1.4;
    font-size: 20px;
}

.section_title {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.section_title h1 {
    margin: auto;
    color: blue;
    font-size: 50px;
    margin-top: 50px;
    text-transform: uppercase;
}

.section_modulos {
    max-width: 1200px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 30px;
    background: #243B55;
}

.section_modulos .modulos_kenzie {
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 30%);
    background-color: blue;
    color: white;
}

.section_modulos .modulos_kenzie h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 19px;
}

.modulo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(20,30,40);
    width: calc(100vw - 14.5vw);
    height: 680px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 30px;
    border-radius: 20px;
    color: white;
}

.modulo h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.modulo ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
}

.modulo li {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 7px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
}

.footer_top, 
.footer_bottom {
    color: white;
}

.footer_top {
    width: 100%;
    background-color: #001e32;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 100px;
}

.footer_top h1 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer--left,
.footer--center,
.footer--right {
    width: 320px;
}

.footer--right #trabalhe_conosco {
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.footer--left {
    margin-right: 70px;
}

.footer--left img {
    width: 200px;
    height: 200px;
}

.footer--center ul,
.footer--right ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer--center li {
    list-style-type: none;
    margin-bottom: 23px;
    font-size: 15px;
}

.footer--right li {
    list-style-type: none;
    margin-bottom: 15px;
    font-size: 15px;
}

.footer--center a,
.footer--right a {
    text-decoration: none;
    color: white;
}

.footer--right a {
    cursor: auto;
}

.footer_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    background-color: #001e32;
    border: none;
    color: #2b80d5;
    border-top: 1px solid #2b80d5;
}

.footer_bottom p {
    font-size: 14.5px;
    text-align: center;
}

@media only screen and (max-width: 1110px) {

    .header {
        padding: 0px 20px;
    }
    
    .menu_mobile {
        display: flex;
    }

    .header .header--right .navbar {
        width: 100%;
        display: flex;
        height: calc(100vh - 100px);
        background-color: rgba(20,30,40, 0.9);
        position: absolute;
        top: 100px;
        left: -150%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 200ms ease-out;
    }

    .header .header--right ul {
        justify-content: center;
        align-items: center;
    }

    .header .header--right li {
        margin: 20px 0;
    }

    .header .header--right .navbar.active {
        left: 0;
    }

    .header .header--right a {
        font-weight: bold;
        font-size: 20px;
        color: white;
    }

    .quero_ser_programador {
        display: none;
    }

    .section_title h1 {
        text-align: center;
    }

    .section_modulos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: auto;
        flex-direction: column;
    }

    .section_modulos .modulos_kenzie {
        display: flex;   
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        height: 61px;
    }

    .modulo {
        display: flex;
        padding: 20px;
        width: calc(100vw - 40vw);
    }

    .modulo h1 {
        margin-top: 0px;
    }

    .modulo h2 {
        font-size: 17px;
    }

    .modulo li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 909px) {

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer_top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_top h1 {
        margin-top: 50px;
    }

    .footer--left {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }

    .footer--center h1,
    .footer--right h1 {
        text-align: center;
    }
    
    .footer--center ul,
    .footer--right ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer_bottom p {
        font-size: 12px;
        text-align: center;
    }

}

@media only screen and (max-width: 600px) {

    section {
        padding: 0px 30px;
    }

    .section_initial {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section_initial .section_text {
        height: 350px;
        width: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FFF;
    }
    
    .section_initial .section_text h1 {
        width: 200px;
        text-align: center;
        font-size: 20px;
        margin-top: 35px;
    }
    
    .section_initial .section_text p {
        text-align: center;
        font-size: 14px;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    
    .section_initial .section_text a {
        width: 180px;
        text-align: center;
        font-size: 14px;
    }

    .section_initial .section_text svg {
        display: none;
    }

    .section_observation p {
        font-size: 13px;
    }

    .section_title h1 {
        font-size: 30px;   
    }

    .modulo {
        height: 600px;
        width: 300px;
    }

    .footer--left img {
        width: 150px;
        height: 150px;
    }

}

@media only screen and (max-width: 370px) {

    .header .header--right .navbar {
        height: 100vh;
    }

    .header .header--right a {
        font-size: 17px;
    }
    
    .menu_mobile div {
        width: 40px;
    }

    .section_modulos .modulos_kenzie h1 {
        font-size: 14px;
    }

    .modulo {
        height: 550px;
        width: 250px;
    }

    .modulo li {
        font-size: 10px;
    }

    .footer--left img {
        width: 120px;
        height: 120px;
    }

    .footer--right li {
        list-style-type: none;
        margin-bottom: 15px;
        font-size: 12px;
    }

    .footer_bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_bottom p {
        font-size: 10px;
        text-align: center;
    }

}